@charset "UTF-8";
@font-face {
  font-family: sans-serif;
}
/*
Name: John Ryan
Date: July 2021
File: styles.css
*/
/* HTML style */
/* Header Style */
.pages {
  display: flex;
  align-items: center;
  justify-content: center;

}
.pages a{
  background: lightgrey;
  font-size: 26px;
  width: 100%;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  border-style: solid;
  border-color: silver;
}
.pages a:hover{
  background: silver;
}
.pages a:visited{
  color:inherit;
}
.title{
  text-align: center;
  width: 100%;
  background-image: radial-gradient(white, tan);
  line-height: 3;
  margin: 0px;
  border-style: solid;
  border-color: brown;
}
/* Body  Style */
.main{
  display: flex;
  flex-direction: column;
}
.describe {
  text-align: left;
}
.services{
  display: flex;
}
.services img{
  justify-content: center;
  width: 280px;
  height: 100%;
  border-style: solid;
  border-radius: 50%;
  border-color: tan;
  margin: 10px;
}
.services p{
}
.tourism {
  display: flex;
  text-align: right;
}
.tourism video{
  margin: 10px;
  width: 280px;
}
.bait{
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}
.livebait, .coldbait,.roll {
  display: flex;
  flex-direction: column;
  background: rgba(200,200,200,0.8);
  border-style: solid;
  border-color: black;
  width: 100%;
  max-width: 33%;
  min-width: 280px;
  text-align: center;
  align-items: center;
}

.bait li{
 text-align: left;
}
.bait h3{
  text-decoration: underline;
}
.price {
  font-style: italic;
}
.livebait h2, .coldbait h2, .roll h2 {
  width: 100%;
  flex-direction: row;
  background-color: rgba(100,100,100,0.5);
  line-height: 3;
  margin-top: 0;
  color: white;
  border-bottom-style: solid;
  border-bottom-color: black;
}
.break {
  display: flex;
  flex-direction: row;
}
.coldbait {
 display: flex;
}
.bait ul {
  list-style: none;
  padding: 0;
}
.bait li{
  padding-bottom: 5px;
  margin-right: 10px;
}
/* Footer Style */
.contact {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  border-color: white;
  border-style: solid;
}
a[href="mailto:howardslakeside@gmail.com"]{
  color: inherit;
}
a[href="tel:+19375051037"]{
  color: inherit;
}
.contact p {
  margin: 10px;
  text-align: center;
  line-height: 1;
  align-items: center;
}
.contact img {
  width: 28px;
  margin: 10px;
}
.social{
  align-self: flex-end;
  background-color: white;
  border-style: solid;
  border-color: blue;
}
.social:hover{
  align-self: flex-end;
  border-color: white;
}
/* page size style */
@media screen and (max-width:578px) {
  .services{
    flex-direction: column;
  }
  .services img{
    width: 100%;
  }

   .tourism{
   flex-direction: column-reverse;
   text-align: left;
 }
   .tourism video{
   width: 100%;
 }
 .bait{
   flex-direction: column;
   justify-content: center;
   align-items: center;

 }
 .livebait, .coldbait,.roll{
   max-width: 100%;

 }
}
